<section class="section">
    
    <div class="container">
        <div class="w-bloc">

            <div class="hero-content">
                
                <div class="w-title">
                    
                    <app-title title="Immortalisez l'Inoubliable" level="1" classTitle="title title-lvl-1"></app-title>
                    <app-subtitle subtitle="Votre Prochain Clic Avec Nous !" classSubtitle="subtitle-primary subtitle-lvl-1"></app-subtitle>

                </div>

                <div class="w-txt">

                    <app-text classText="text text-lvl-2" text="Découvrez une sélection d'appareils photo qui transforment chaque instant en une œuvre d'art éternelle."></app-text>
                    <app-text classText="text text-lvl-2" text="Que vous soyez un photographe amateur cherchant à capturer les moments précieux de la vie, ou un professionnel à la recherche de la perfection technique."></app-text>
                    <app-text classText="text text-lvl-2" text="Nous avons l'appareil qu'il vous faut !"></app-text>

                </div>

                <app-button href="/products" btnClass="btn btn-secondary" btnText="Explorez la Collection" iconClass="fa-solid fa-chevron-right"></app-button>

            </div>
            
            <div class="img-hero">
                <app-img src="../../../../assets/img/appareil.webp" alt="appareil photo sony a7" class="w-img" imgClass="bg-img"></app-img>
            </div>

        </div>
    </div>
</section>