.bg-shadow {
    backdrop-filter: blur(4px);
}

.border-bottom {
    border-bottom: 2px solid #C5481B;
}

.w-nav {
    display: flex;
    align-items: center;
}

.w-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}