.title {
    color: #192229;
    font-weight: 700;
}

.title-lvl-1 {
    font-size: 40px;
}

.title-lvl-2 {
    font-size: 32px;
}

.title-lvl-3 {
    font-size: 24px;
}

.title-lvl-4 {
    font-size: 16px;
}

.result-cart {
    color: #F9ECE8;
}

@media (max-width: 768px) {
    .title-lvl-1 {
        font-size: 32px;
    }

    .title-lvl-2 {
        font-size: 28px;
    }

    .title-lvl-3 {
        font-size: 20px;
    }

    .title-lvl-4 {
        font-size: 14px;
    }
}