<section class="section">
    <div class="container">

        <div class="w-bloc">

            <div class="w-title-connect">
                <app-title classTitle="title title-lvl-2" level="1" title="Bienvenue à Nouveau !"></app-title>
                <app-subtitle classSubtitle="subtitle-primary subtitle-lvl-2" subtitle="Connectez-vous et Explorez Plus"></app-subtitle>
            </div>
            
            <div class="w-login connect-bloc">
                <app-title classTitle="title title-lvl-3" level="2" title="Connexion"></app-title>
                <form class="form-connect">
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Mot de passe" />
                    <app-button btnClass="btn btn-secondary" href="/test" btnText="Se connecter"></app-button>
                </form>
            </div>
            
            <div class="w-signup connect-bloc">
                <app-title classTitle="title title-lvl-3" level="2" title="Inscription"></app-title>
                <form class="form-connect">
                    <input type="text" placeholder="Nom" />
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Mot de passe" />
                    <app-button btnClass="btn btn-primary" href="/test" btnText="S'inscrire"></app-button>
                </form>
            </div>

        </div>

    </div>
</section>
  